@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo principal */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo ocupe toda a altura da viewport */
    line-height: 1.6;
    background-color: #182748;
    color: #ffffff;
}

/* Estilo da Navegação */
nav {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    background-color: #182748;
    color: #fff;
    padding: 5px 15px; /* Reduzido para ocupar menos espaço */
    display: flex;
    align-items: center;
    height: 100px; /* Altura definida para manter uma proporção menor */
}

/* Logo secundário no lado esquerdo do menu */
.logo {
    position: absolute; /* Posição absoluta para fixar no canto */
    left: 10%; /* Ajusta para o canto esquerdo */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajusta para o centro vertical */
    max-width: 100px; /* Reduz tamanho do logo secundário */
    height: auto;
}

/* Contêiner do Menu de Navegação */
.nav-menu-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o menu */
    flex: 1;
}

/* Menu de Navegação */
#navMenu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
    gap: 15px; /* Espaçamento aumentado entre os itens */
}


#navMenu li {
    margin: 0;
}

#navMenu a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px; /* Aumenta o tamanho da fonte */
    padding: 8px 12px; /* Adiciona um pouco de espaço ao redor do texto */
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    transition: all .3s ease-in-out;
}

#navMenu a:hover {
    font-size: 22px;
    text-shadow: 2px -2px 2px red;
}

main{
    background-color: #182748;
}

main .banner{
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    height: 350px;
    width: 100%;
}

.banner img{
    width: 100%;
  height: 100%;
  object-fit: cover; /* ou contain, dependendo do efeito desejado */
}

h1{
    text-align: center;
    color: #ffffff;
    font-family: "Bebas Neue", sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 45px;
}

h1 a{
  color: #ffffff;
  text-align: center;
}

span{
    color: #FF0000;
}

.sobre{
    width: 70%;
    height: 340px;
    background-color: #2d2610;
    margin: auto;
    display: flex;
    flex-direction: row;
    position: relative;
}

.carousel-container {
    width: 45%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .carousel-slide {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }

.textos{
    width: 55%;
    height: 100%;
}

.textos h1{
  font-size: 38px;
}

.textos ul{
    margin-left: 10%;
    list-style-type: disc;
    font-size: 17px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.textos ul a{
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", sans-serif;
  text-decoration: none;
  font-size: 20px;
}

.textos button{
    width: 50%;
    height: 40px;
    background-color: #ff0000;
    border: none;
    border-radius: 20px;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 5%;
    transition: all 500ms;
}

button a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}

.textos button:hover{
    transform: scale(1.1);
    background-color: #920000;
}

.flutuantes {
  position: fixed;
  top: 100px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 9999;
}

.zap, .insta, .pmoc {
  width: 60px;
  height: 60px;
}

.zap img, .insta img, .pmoc img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s;
}

.zap img:hover, .insta img:hover, .pmoc img:hover{
  transform: scale(1.3);
}


.box{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box select{
    height: 50px;
    width: 50%;
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.062) 0px 4px 6px, rgba(0, 0, 0, 0.055) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    transition: all 500ms;
    outline: none;
    cursor: pointer;
}

select:hover{
    transform: scale(1.1);
    box-shadow: rgba(255, 255, 255, 0.075) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.062) 0px 4px 6px, rgba(255, 255, 255, 0.055) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

option{
    background-color: #ffffff;
    border: none;
    outline: none;
}

@keyframes slide{
    1%{
      transform: translateX(0);
    }
    48%{
      transform: translateX(-100%);
    }
    52%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(-100%);
    }
  }

  .cards{
    width: 100%;
    height: 330px;
    margin-bottom: 5%;
    overflow: hidden;
    position: relative;
  }

  .cards::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to left,  #18274800, #182748a1, #182748);
    content: "";
    z-index: 2;
  }

  .cards:after{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to right, #18274800, #182748a1, #182748);
    content: "";
    z-index: 2;
  }

  .cards-slide:hover{
    animation-play-state: paused;
  }

  .cards-slide{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    animation: 30s slide infinite linear;
  }

  .card {
    position: relative;
    border: 3px solid red;
    border-radius: 5px;
    width: 300px;
    height: 90%;
    flex: 0 0 auto; /* <- ESSENCIAL */
    margin-top: auto;
    margin-left: 8%;
    margin-right: 8%;
  }

  .card .header{
    background-color: red;
    width: 70px;
    height: 70px;
    position: absolute;
    top: -35px;
    border-radius: 100px;
    left: 115px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header img{
    width: 90%;
    height: 90%;
    color: #ffffff;
  }

  .card .figura{
    width: 100%;
    height: 80%;
    border-bottom: 3px solid red;
  }

  .card h1{
   margin-top: -5%;
  }

  footer{
    margin-top: auto;
    background-color: red;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
  }

  footer .missao{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
  }

  footer .visao{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
  }

  footer .valores{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
  }

  footer p{
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
  }

  footer ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding-left: 100px;
  }

  @media(max-width: 600px){
    .sobre{
      width: 80%;
      height: 340px;
      background-color: #2d2610;
      display: flex;
      flex-direction: row;
      position: relative;
  }

  .carousel-container{
    width: 100%;
  }

  .textos{
    display: none;
  }

  .flutuantes {
    position: fixed;
    top: 100px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
  }

  @keyframes slide{
    1%{
      transform: translateX(0);
    }
    48%{
      transform: translateX(-300%);
    }
    52%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(-300%);
    }
  }

  option{
    display: flex;
    justify-content: center;
  }

  .box{
    justify-content: center;
    align-items: center;
  }

  footer{
    height: 550px;
  }

  footer ul{
    padding-left: 15px;
  }
  }

  @media(max-width: 1320px){
    .carousel-container{
      width: 100%;
    }
  
    .textos{
      display: none;
    }
  }